<div class="sidebar-item-inner">

  <div class="sidebar-row">
    <button class="editor-common-sidebar-project">
      <span class="editor-common-sidebar-project-inner">
        <i class="fa fa-chevron-right primary-color"/>{{ t 'app.editorsettings'}}
      </span>
    </button>
  </div>

  <div class="sidebar-row">
    <button class="editor-common-sidebar-config">
      <span class="editor-common-sidebar-config-inner">
        <i class="fa fa-chevron-right primary-color"/>{{ t 'app.editorconfig'}}
      </span>
    </button>
  </div>

  <div class="sidebar-row">
    <button class="editor-common-sidebar-select-theme">
      <span class="editor-common-sidebar-select-theme-inner">
        <i class="fa fa-chevron-right primary-color"/></i>{{ t 'app.editorselecttheme'}}
      </span>
    </button>
  </div>

  <div class="sidebar-row">
    <button class="editor-common-sidebar-menusettings">
      <span class="editor-common-sidebar-menusettings-inner">
        <i class="fa fa-chevron-right primary-color"/></i>{{ t 'app.editormenusettings'}}
      </span>
    </button>
  </div>

  <div class="sidebar-row">
    <button class="editor-common-sidebar-extensions">
      <span class="editor-common-sidebar-extensions-inner">
        <i class="fa fa-chevron-right primary-color"/></i>{{ t 'app.editorextensions'}}
      </span>
    </button>
  </div>

  <form id="downloadForm" method="get" action=""></form>
</div>
