{{#if _isDeleted}}
<div class="asset-management-list-item-deleted">
    <i class="fa fa-ban"></i>
</div>
{{/if}}

<div class="asset-management-list-item-inner">

    <div class="asset-management-list-item-icon">
        <div class="asset-management-list-item-icon-inner">
            <i class="fa {{iconName}}"></i>
        </div>
    </div>
    
    <div class="asset-management-list-item-image">
        {{#ifValueEquals subtype "svg+xml"}}
            <img src="api/assets/serve/{{_id}}?{{timestring updatedAt}}"/>
        {{else}}
            {{#if hasThumb}}
                <div class="asset-management-list-item-image" style="background-image:url(api/assets/serve/{{_id}}?thumb=true&{{timestring updatedAt}})"></div>
            {{else}}
                <i class="fa {{iconName}}"></i>
            {{/if}}
        {{/ifValueEquals}}
    </div>
    
    <div class="asset-management-list-item-details">
        <div class="asset-management-list-item-details-inner">
            <div class="asset-management-list-item-title">
                <h4 class="asset-management-list-item-title-inner">{{title}}</h4>
            </div>
        </div>
    </div>

</div>
