{{#if messages}}
  <div class="{{type}}">
    <h3>{{heading}}</h3>
    <div class="messages">
      {{#each messages}}
        <div class="message">
          <div class="code">{{code}}</div>
          {{#if data}}
            <div class="data">
              {{#each data}}
                <div>
                  <span class="key">{{@key}}</span>
                  <span class="value">{{this}}</span>
                </div>
              {{/each}}
            </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}