<div class="pluginType-inner {{#if isEnabled}}{{else}}row-disabled{{/if}}">
  <div class="pluginType-description col-row">
    <div class="pluginType-title col-20">
      <h4 class="pluginType-title-inner tb-col-inner">{{displayName}}</h4>
    </div>
    <div class="pluginType-description col-40">
      <div class="pluginType-description-inner tb-col-inner">
        {{description}}
      </div>
      {{#if homepage}}
        <a href="{{homepage}}" class="pluginType-homepage tb-col-inner" target="_blank">
          <span>{{t 'app.visitpluginhomepage'}}</span>
        </a>
      {{/if}}
    </div>
    <div class="pluginType-version col-10 col-centered">
      <span class="pluginType-version-number tb-col-inner">{{version}} {{#if canBeUpdated}}({{latestCompatibleVersion}}){{else}}{{/if}}
      </span>
    </div>
    <div class="pluginType-active col-10 col-centered">
      <input class="pluginType-enabled" type="checkbox" {{#if isEnabled}} checked {{/if}}/>
    </div>
    {{#ifValueEquals type 'extension'}}
      <div class="pluginType-addedDefault col-10 col-centered">
        <input class="pluginType-addedDefault" type="checkbox" {{#if isAddedByDefault}}checked{{/if}}/>
      </div>
    {{/ifValueEquals}}
    <div class="pluginType-update col-10 col-centered">
      <div class="pluginType-update-inner tb-col-inner">
        {{#if isLocalInstall}}
            <button title="{{t 'app.uploadedbyuser'}}" class="plugin-update btn secondary" disabled="disabled"><i class="fa fa-ban"></i></button>
        {{else}}
          {{#if canBeUpdated}}
            <button title="{{t 'app.updateplugin'}} {{latestCompatibleVersion}}" class="plugin-update btn secondary"><i class="fa fa-refresh"></i></button>
          {{else}}
            <button title="{{t 'app.uptodate'}}" class="plugin-update btn secondary" disabled="disabled"><i class="fa fa-check"></i></button>
          {{/if}}
        {{/if}}
        <button title="{{t 'app.remove'}}" class="plugin-remove btn alert"><i class="fa fa-trash-o"></i></button>
      </div>
    </div>
  </div>
</div>
