<div class="frameworkImport">
    <div class="summaryText {{#unless canImport}}error{{/unless}}">
      {{#if canUpdate}}
        {{t 'app.coursecanbeupdated'}}
      {{else}}
        {{#if canImport}}
          {{t 'app.coursecanbeimported'}}
        {{else}}
          {{t 'app.coursecannotbeimported'}}
        {{/if}}
      {{/if}}
    </div>
  <div class="inner">
    <p>Find below a summary of the course being imported.</p>
    <div class="content">
      <h2>Content summary</h2>
      <table>
        <thead>
          <tr>
            <th class="left" scope="col">Content type</th>
            <th scope="col">Number of items</th>
          </tr>
        </thead>
        <tbody>
          {{#each content}}
            <tr>
              <td class="left" scope="col">{{@key}}</td>
              <td scope="col">{{this}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="versions">
      <h2>Plugin versions</h2>
      <table class="full-width">
        <thead>
          <tr>
            <th class="left" scope="col">Name</th>
            <th scope="col">Installed version</th>
            <th scope="col">Import version</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each versions}}
            <tr class="{{status}}">
              <td class="left" scope="col">{{name}}</td>
              <td scope="col">{{versions.[0]}}</td>
              <td scope="col">{{versions.[1]}}</td>
              <td scope="col">{{t statusKey}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="statusReport">
      {{> part_frameworkImportStatusMessages type='error' messages=statusReport.error heading='Errors'}}
      {{> part_frameworkImportStatusMessages type='warn' messages=statusReport.warn heading='Warnings'}}
      {{> part_frameworkImportStatusMessages type='info' messages=statusReport.info heading='Information'}}
    </div>
</div>
