{{!-- toggle --}}
{{#ifValueEquals type 'toggle'}}
  <input type="checkbox" id="{{group.index}}-{{index}}" {{#if checked}}checked{{/if}} />
  <label for="{{group.index}}-{{index}}">{{> part_contentHeaderButtonContent}}</label>
{{/ifValueEquals}}
{{!-- search --}}
{{#ifValueEquals type 'search'}}
  {{#if buttonText}}
    <div class="label">{{buttonText}}</div>
  {{/if}}
  <input type="text" placeholder="{{placeholder}}">
{{/ifValueEquals}}
{{!-- tags --}}
{{#ifValueEquals type 'tags'}}
  {{#if buttonText}}
    <div class="label">{{buttonText}}</div>
  {{/if}}
  <div class="tags">
    {{#if ../tags.length}}
      {{#each ../tags}}
        <span class="tag" data-value="{{_id}}">{{title}}</span>
      {{/each}}
    {{else}}
      {{t 'app.notags'}}
    {{/if}}
  </div>
{{/ifValueEquals}}