{{#ifValueEquals type 'search'}}
  {{#if buttonText}}
    <div class="label">{{buttonText}}</div>
  {{/if}}
  <input type="text" placeholder="{{placeholder}}">
{{/ifValueEquals}}

{{#ifValueEquals type 'select'}}
  {{#if buttonText}}
    <div class="label">{{buttonText}}</div>
  {{/if}}
  <select>
    {{#each values}}
      <option value={{#if value}}{{value}}{{else}}{{this}}{{/if}}>{{#if label}}{{label}}{{else}}{{this}}{{/if}}</option>
    {{/each}}
  </select>
{{/ifValueEquals}}

{{#ifValueEquals type 'tags'}}
  {{#if buttonText}}
    <div class="label">{{buttonText}}</div>
  {{/if}}
  <div class="tags">
    {{#if tags.length}}
      {{#each tags}}
        <span class="tag secondary-hollow btn" data-value="{{_id}}">{{title}}</span>
      {{/each}}
    {{else}}
      {{t 'app.notags'}}
    {{/if}}
  </div>
{{/ifValueEquals}}

{{#ifValueEquals type 'toggle'}}
  <input type="checkbox" id="filter-{{uniqueId}}" {{#if checked}}checked{{/if}} />
  <label for="filter-{{uniqueId}}">{{> part_contentHeaderButtonContent}}</label>
{{/ifValueEquals}}