<button class="toggle">
  <i class="fa fa-sort"></i>
  <div class="label">{{buttonText}}</div>
</button>
<div class="buttons-container">
  <div class="items">
    {{#each items}}
      <div class="item" data-index="{{@index}}" data-event="{{eventName}}">
        <input type="radio" id="{{@index}}" name="sort" value="{{@index}}">
        <label for="{{@index}}">
          <span class="direction">
            <i class="fa fa-sort-asc"></i>
            <i class="fa fa-sort-desc"></i>
          </span>
          {{#if icon}}<i class="icon fa {{icon}}"></i>{{/if}}
          {{buttonText}}
        </label>
      </div>
    {{/each}}
  </div>
</div>