<div class="toast {{type}} {{#if persist}}persist{{/if}}">
  <div class="toast-inner">
    <div class="icon"><i class="fa fa-{{icon}}"></i></div>
    <div class="body">
      {{#if title}}<div class="title">{{title}}</div>{{/if}}
      {{#if text}}<div class="text">{{{text}}}</div>{{/if}}
    </div>
    {{#if persist}}<button class="close">{{buttonText}}</button>{{/if}}
  </div>
  {{#if debugInfo}}
    <div class="debug">
      <details>
        <summary>{{t 'app.debuginfo'}}</span></summary>
        <pre>{{debugInfo}}</details></pre>
      </details>
    </div>
  {{/if}}
</div>