<div class="appHeader-bg"></div>
<div class="appHeader-inner clearfix">
  <div class="appHeader-left">
    <div href="#" class="appHeader-item appHeader-product-logo"></div>
    <div href="#" class="appHeader-item appHeader-product-name">{{t 'app.productname'}}</div>
  </div>
  <div class="appHeader-right">
    <a href="#" class="appHeader-item appHeader-help" data-event="help">
      <span>{{t 'app.help'}}</span>
    </a>
    <a href="#" class="appHeader-item appHeader-profile" data-event="user:profile">
      {{t 'app.loggedinas'}}: <span>{{user.email}}</span>
    </a>
    <a href="#" class="appHeader-item appHeader-user-logout btn white-hollow" data-event="user:logout">
      <span>{{t 'app.logout'}}</span>
    </a>
  </div>
</div>
